<ion-view title="Glue!">
    <ion-nav-bar class="bar-stable">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content align="left" padding="true" class="has-header">
        <div class="list card">
            <div class="item">
                <h2>Hello Glue!</h2>
            </div>
            <div class="item">
                <p>Glue! is an ionic framework starter project.</p>
                <p>It combines the best of Angular, Ionic, and RequireJS.</p>
                <p>Glue! is based on modular approach and is suitable for both large and small applications.</p>
                <p>Learn more @ <a target="_blank" href="http://github.com/neerajsohal/glue">http://github.com/neerajsohal/glue</a></p>
            </div>
        </div>
        
    </ion-content>
</ion-view>
